body{
    background-image:url("background.jpg");
}

section{
    background-color: rgb(182, 182, 182);
    width: 700px;
    border-radius: 5px;
    font-size: larger;
    box-shadow: 5px 5px 5px black;
    color: white;
}

b{
    color: black;
}

h1{
    background-color: rgb(189, 187, 187);
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    width: 500px;
}